services:

  init-permissions:
    image: alpine:latest
    volumes:
      - .:/irisdev/app
      - iris-dur:/dur
    command: >
      sh -c "
        echo 'Fixing /dur directory permissions...' &&
        chown -R 51773:51773 /dur &&
        echo 'Permissions fixed successfully'
      "
    
  iris:
    build: 
      context: .
      dockerfile: dockerfile
    restart: always
    environment:
      - ISC_CPF_MERGE_FILE=/irisdev/app/merge.cpf
      - ISC_DATA_DIRECTORY=/dur/iris
    ports: 
      - 1972
      - 8082:52773
    volumes:
      - .:/irisdev/app
      - iris-dur:/dur

  webgateway:
    image: containers.intersystems.com/intersystems/webgateway:latest-em
    init: true
    ports:
    - 443:443
    - 8081:80
    environment:
    - ISC_CSP_CONF_FILE=/webgateway/CSP.conf
    - ISC_CSP_INI_FILE=/webgateway/CSP.ini
    volumes:
      - ./webgateway:/webgateway
      - ./webgateway/cert:/opt/cert

volumes:
  iris-dur: